:root {
  --background-color: #fff;
  --background-color2: #f7f9f2;
  --text-color: #000000;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
  --background-color: #000000;
  --background-color2: #31363f;
  --text-color: #f7e6c6;
  --box-shadow: 0 2px 8px rgba(111, 20, 90, 0.853);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin: 10px;
}

.radio-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.control-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 700;
  background-color: #172cb5d5;
  padding: 10px;
  border-radius: 4px;
}
button:hover {
  background-color: #1420a2;
}
#author {
  align-self: flex-end;
  margin-bottom: 10px;
  font-weight: 100;
  font-style: italic;
}
h1 {
  text-align: center;
  font-style: italic;
}

hr {
  background-color: var(--background-color2);
  margin-bottom: 20px;
}

#theme-toggle {
  display: flex;
  width: fit-content;
  margin: 5px;
  padding: 5px;
}

.theme-toggle {
  background-color: var(--background-color2);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

label {
  padding-left: 10px;
}

p{
  font-size: small;
  margin-right: 8px;
}

.hover-text {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.77);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 1px;
  position: absolute;
  z-index: 1;
  bottom: 125%;  /* Position above the container */
  left: 50%;
  transform: translateX(-50%);  /* Center it horizontally */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-text:hover .tooltip-text {
  visibility: visible;  /* Show the text on hover */
  opacity: 1;
}

#category-select{
  background-color: var(--background-color);
  color: var(--text-color);
border-radius: 2px;
  border: none;
  cursor: pointer;
}

